<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consumer</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.8.2/dist/web3.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
	 #info{
		 
		border-radius: 6px;
		padding: 20px;
		width: 250px;
		text-align: center;
		margin: auto;
		margin-top: 50px; /* Added to move the border down */
	
	 }
		    
	#status{
		margin-top: 20px;
		padding: 5;
		text-align: center;
		 
	}
	body {
		background-image: url("{{ url_for('static', filename='pic11.jpg') }}");
		background-repeat: no-repeat;
		background-size: cover;
		 
	}
   </style>
</head>
<body>
    <h1 style="text-align: center ;color:blue"><u>Identification of Counterfeit Products Using Blockchain</u></h1> 
    <br>
    <h2 style="text-align: center "> Verification of product</h2>
    <hr><br>
	<center><button type="button" onclick="verifyDoc()">Verify Product</button></center>
  <center> <div id="status"></div></center>
	<div id="info" ></div>
    <script src="consumer.js"></script>
  
	
	
</body> 
</html>
    