<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center ;color:blue"><u>Identification of Counterfeit Products Using Blockchain</u></h1> 
    <br>
    <h2 style="text-align: center "> Generate Qr code</h2>
    <hr>
    <div style="text-align: center" >
		<form action="/generate" method="post"  >
            <label for="company">company:</label>
            <input type="text" id="company" name="company" required><br><br>
    
            <label for="branch">Branch:</label>
            <input type="text" id="branch" name="branch" required><br><br>
    
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
    
            <label for="id">Id number:</label>
            <input type="text" id="id" name="id" required><br><br>
    
            <label for="type1">Type:</label>
            <input type="text" id="type1" name="type1" required><br><br>
    
            <label for="date1">Manufacture date:</label>
            <input type="date" id="date1" name="date1" required><br><br>
  
	
        <input type="submit" value="Submit"><br><br><br><br>
		

		
        </form>
	  </div> <br><br>
    
</body>
</html>